*
{
    /* border: 1px solid black; */
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100wh;
    overflow: hidden;
    justify-content: space-between;
    /* align-items: center; */
}

.b1
{
    display: flex;
    flex-direction: column;
    height: 30%;
    background-color: #1f2937;
}
.box1_1
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header
{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    flex: 1;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.links{
    color: #E5E7E8;
    justify-content: center;
    flex: 1;
    display: flex;
    gap: 20px;
}
 #link1,#link2,#link3
 {
    flex: 1;
 }


.box1_2
{
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1_2_middle
{
    width: 50%;
    height: 50%;
    display: flex;
}

.m_left
{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.left_title
{
    color: #F9FAF8;
    font-size: 48px;
    flex: 2;
    font-weight: 800;
}

.left_text
{
    color: #E5E7E8;
    flex: 2;
}

.left_sign
{
    position:static;
    flex: 1;
}
.sign_up
{
    color: #F9FAF8;
    width: 20%;
    height: 100%;
    background-color: #3882f6;
    border-radius: 1cqb;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.m_right
{
    flex: 1;
    background-color: #a4a6aa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7E8;

}

.links
{
    flex: 3;
}

.b2
{
    display: flex;
    flex-direction: column;
    height: 65%;
    background-color: #1f2937;
}
.b2_1
{
    display: flex;
    background-color:white;
    flex: 2;
    flex-direction: column;
}
.fr
{

    flex: 1;
    display: flex;
    font-weight: bolder;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
.sn
{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content:center;
    gap: 30px;

}
.s1,.s2,.s3,.s4
{
  width: 100px;
  height: 100px;
  border: 2px solid #3882f6;
  border-radius: 1cqb;
  color: #454f5d;
    text-align: center;
    font-weight: lighter;
}
.tr
{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content:center;
    gap: 30px;
    
}

p{
    
    padding: 0;
    margin: 0;
}
.t1,.t2,.t3,.t4
{   
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content:stretch;
  width: 100px;
  height: 100px;
  font-size: 12px;
}




















.b2_2
{
    display:flex; 
    justify-content: center; /* Centers horizontally */
    align-items: center;
    background-color:#E5E7E8;
    flex: 2;
    
}

.b2_2midd
{
    display: flex;
    width: 40%;
    height: fit-content;
    flex-direction: column;

}
.quote
{
    
    font-weight: lighter;
    font-size: 22px;
    font-style: italic;
    color: #1F2937;
    flex: 9;
}
.author
{
    font-weight: bold;
    align-self: flex-end;
    flex: 1;
}




















.b2_3
{
    background-color:white;
    flex: 1.4;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}


.bmid
{
    border-radius: 1cqb;
    width:95%;
    height: 50%;
    display:flex; 
    justify-content: center; /* Centers horizontally */
    align-items: center;
    background-color: #3882f6;
}
.bmid2
{
    display: flex;
    width:75%;
    height: 50%;
    gap: 100px;

}
.right
{
    /* height: fit-content;
    width:auto; */ 
    justify-content:end;
    align-items: center; 
    flex: 1;
    display: flex;
}
.button
{
    color: #E5E7E8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 1cqb;
    height: fit-content;
    width:fit-content;
    justify-content: end; /* Centers horizontally */
    border: #E5E7E8 1px solid;
    display: flex;
}
.left
{
 
    align-items:flex-end;
    flex-direction: column;
    flex: 1;
}

.up
{
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items:flex-end;
    

}
.down
{
    display: flex;
    align-items:flex-start; 
    font-size: 12px;
    color: #F9FAF8;
    flex: 1;
    background-color: #3882f6;
}

.b3{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; 
    color: #E5E7E8;
    flex: 5%;
    background-color: #1f2937;
}